body {
  text-align: center;
  position: relative;
  min-height: 100%;
  top: 0px;
  margin: 0;
  font-family: sans-serif;
}

img {
  -ms-interpolation-mode: bicubic;
}

.homepage .navbar {
  display: none;
}

.homepage .topslogan {
  display: none;
}

.homepage .topcontainer {
  height: 100px
}

.homepage .topcontainer img {
  height: 100px;
}

.topcontainer {
  position: relative;
  height: 70px;
  overflow: hidden;
  background-color: #333;
}

.topcontainer::before {
  content: '';
  display: table;
  clear: both;
}

.ntntop table {
  width: 100%;
}

.ntntop img {
  float: left;
  height: 70px;
}

.ntntop a {
  text-decoration: none;
  color: white;
}

.topslogan {
  float: right;
  color: white;
  padding-top: 30px;
  letter-spacing: 3px;
  font-variant: small-caps;
  font-family: sans-serif;
}

/* https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp */

/* Add a black background color to the top navigation */
.navbar {
  background-color: #333;
  overflow: hidden;
  font-family: sans-serif;
  left: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 1em;
}

.navbar a.home {
  background-color: red;
  color: white;
}

/* Add an active class to highlight the current page */
.active {
  background-color: grey;
  color: white;
}

/* Hide the link that should open and close the navbar on small screens */
.navbar .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the navbar */
.dropdown .dropbtn {
  font-size: 1em;
  border: none;
  outline: none;
  color: white;
  padding: 10px 10px;
  background-color: #333;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on navbar links and the dropdown button on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn:hover {
  cursor: pointer;
}

table {
    border-spacing: 10px 2px;
}

.hidethis {
  visibility: hidden;
  width: 1px;
  font-size: inherit;
}

#term {
    background-color: #333;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    overflow: scroll;
    display: inline-block;
    width: 80%;
    height: 60vh;
    line-height: 100%;
    text-align: left;
    border-color: grey;
    border-style: solid;
    border-top-width: 20px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: grey;
    text-align: center;
  }

.footer a {
    color: grey;
}

.note {
  height: auto;
  margin: auto;
  min-height: 80vh;
  width: 70%;
  text-align: left;
  font-family: sans-serif;
  font-size: 1.2em;
  line-height: 2;
  color: #333;
}

#discourse-comments {
  margin: auto;
  width: 70%;
}

.note h1{
  text-align: center;
}

.note code{
  color: #272822;
  background: #f8f8f2;
  overflow: auto;
}

.codehilite {
  overflow: auto;
}

.note blockquote {
  margin: 0 auto;
  border-left: 5px solid #333;
  padding: .25em 1em;
}

.note img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 1em;
}

.note table {
  margin: auto;
  border: 1px solid grey;
  border-collapse: collapse;
}

.note td, th {
  border: 1px solid grey;
  padding: 5px;
}

.title_block .title {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  color: #333;
}

.title_block .subtitle {
  text-align: center;
  font-size: .7em;
  color: gray;
}

.title_block {
  padding-top: 30px;
  padding-bottom: 30px;
}

.summary_block {
  box-sizing: border-box;
  width: 50%;
  height: 100px;
  margin: auto;
  text-align: left;
  color: #333;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.homecolumn .summary_block {
  width: 100%;
}

.summary_block a {
  text-decoration: none;
  color: #333;
}

.summary_block h3 {
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.summary_subtitle {
  color: grey;
  font-size: 0.7em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.summary_text {
  padding-top: 5px;
  padding-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.thumbnail img{
  float: left;
  max-width: 100%;
  max-height: 100%;
  padding-right: 10px;
}

#bottom_buttons table {
    margin-right: auto;
    margin-left: auto;
}

#nav_icon {
    display: none;
}

#app.subnet input[name='subnet_mask'] {
  width: 10em;
}

#app input[type='text'] {
  width: 20em;
  font-size: inherit;
}

.oui input[type='text'] {
  width: 10em;
}

#bottom_buttons {
  display: none;
}

#nojs_text {
  color: red;
}

.hometitle {
  text-align: center;
  color: #333;
  text-shadow: 3px 3px 3px grey;
  font-size: 4em;
  font-weight: bolder;
}

.hometext {
  text-align: center;
  color: #333;
  font-size: x-large;
  padding: 0 10% 3%;
}

.homecolumn {
  float: left;
  width: 40%;
  padding: 0 5%;
}

.toollist {
  text-align: left;
}

.tools_mobile {
  display: none;
}

.homerow h2{
  color: #333;
}

.homerow a{
  color: black;
}

/* Clear floats after the columns */
.homerow:after {
  content: "";
  display: table;
  clear: both;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: grey;
    border-bottom-color: grey;
    animation: spinner 1s ease infinite;
  }
  
  @media screen and (max-width: 800px) {
    .navbar a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .navbar a#nav_icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 800px) {

    * {
      font-size: 16px;
    }

    .homecolumn {
      width: 90%;
    }

    .topcontainer {
      display: none;
    }

    .homerow h2{
      font-size: xx-large;
    }

    #term {
      width: 95%; /* The width is 100%, when the viewport is 800px or smaller */
      padding-right: 0px;
      padding-left: 0px;
      height: 70vh;
      font-family: monospace;
    }
    .navbar.responsive {position: relative;}
    .navbar.responsive a#nav_icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .navbar.responsive .dropdown {float: none;}
    .navbar.responsive .dropdown-content {position: relative;}
    .navbar.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }

    .navbar a{
      font-size: 22px;
    }

    .dropdown .dropbtn{
      font-size: 22px;
    }

    span.wrapper {
      min-width: 400px;
      display: inline-block;
    }

    .summary_block {
      width: 100%;
    }

    .note {
      width: 90%;
    }

    #discourse-comments {
      width: 90%;
    }
    
    .note img {
      max-width: 100%;
      padding: 0px;
    }

    .hometitle {
      text-shadow: 1px 1px 1px grey;
      font-size: 2em;
      font-weight: bolder;
    }

    .hometext {
      display: none;
    }

    .toolsdescription {
      display: none;
    }

    .tools_mobile {
      display: inherit;
      text-align: left;
      width: 95%;
    }

    .tools_mobile ul {
      list-style-type: none;
    }

    .tools_desktop {
      display: none;
    }

    .homepage .navbar {
      display: inherit;
    }

  }