{% include "ntntop.html" %}
<div id="navbar" class="navbar">
    <a class="home" href="/">NTN Tools</a>
    <a id="curl_nav" href="/curl">cURL</a>
    <a id="dns_nav" href="/dns">DNS</a>
    <a id="ping_nav" href="/ping">Ping</a>
    <a id="subnet_nav" href="/subnet">Subnet Calculator</a>
    <a id="traceroute_nav" href="/traceroute">Traceroute</a>
    <a id="oui_nav" href="/oui">OUI Lookup</a>
    <a id="whois_nav" href="/whois">Whois Lookup</a>
    <a id="rphash_nav" href="/rphash">RP Hash Calculator</a>
    <a href="#" id="nav_icon">
        <i class="fa fa-bars"></i>
    </a>
</div>
<br>
