{% extends "tools/base.html" %}
{% block title %}NTN - Tools{% endblock %}
{% block app %}
<span class="tools_desktop">
<input class="hidethis">Select a tool to get started<input class="hidethis">
</span>
<span class="tools_mobile">
    <ul>
        <li><a href="/tools/curl">cURL</a> - Send a HEAD request from the NTN Webserver</li>
        <li><a href="/tools/dns">DNS</a> - Send DNS queries from the NTN Webserver</li>
        <li><a href="/tools/ping">Ping</a> - Ping servers from the NTN Webserver</li>
        <li><a href="/tools/subnet">Subnet Calculator</a> - Calculate IPv4 and IPv6 Subnets</li>
        <li><a href="/tools/traceroute">Traceroute</a> - Run traceroute from the NTN Webserver</li>
        <li><a href="/tools/oui">OUI Lookup</a> - Find device manufacturers based on MAC Address</li>
    </ul>
</span>
{% endblock %}