{% extends "base.html" %}
{% block title %}It's Never The Network{% endblock %}
{% block body_class %}"homepage"{% endblock %}
{% block nav %}{% include "nav.html" %}{% endblock %}
{% block content %}

<div class="hometitle">404</div>
<div class="hometext">
    The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again. <br><br>
    If you followed a link, please <a href="mailto:brandon@netverthenetwork.com">let me know</a>. 
</div>

{% endblock %}